Урок 4. Партицирование данных по дате. Динамическое партицирование
1. Создайте таблицу movies с полями movies_type, director, year_of_issue, length_in_minutes, rate.

2. Сделайте таблицы для горизонтального партицирования по году выпуска (до 1990, 1990 -2000, 2000- 2010, 2010-2020, после 2020).

3. Сделайте таблицы для горизонтального партицирования по длине фильма (до 40 минута, от 40 до 90 минут, от 90 до 130 минут, более 130 минут).

4. Сделайте таблицы для горизонтального партицирования по рейтингу фильма (ниже 5, от 5 до 8, от 8до 10).

5. Создайте правила добавления данных для каждой таблицы.

6. Добавьте фильмы так, чтобы в каждой таблице было не менее 3 фильмов.

7. Добавьте пару фильмов с рейтингом выше 10.

8. Сделайте выбор из всех таблиц, в том числе из основной.

9. Сделайте выбор только из основной таблицы.

In [151]:
import pandas as pd
from pandas import DataFrame as DF
import psycopg2
from random import randint as ri
from random import choices as ch
from sqlalchemy import create_engine

1. Создайте таблицу movies с полями movies_type, director, year_of_issue, length_in_minutes, rate.

In [152]:
movies_type = [ch(("Ужасы", "Комедия", "Триллер", "Мелодрама", "Боевик"))[0] for i in range(30)]
director = [ch(['Альфред Хичкок', 'Сергей Эйзенштейн', "Орсон Уэллс", "Федерико Феллини",
                   'Ингмар Бергман', 'Андрей Тарковский', 'Квентин Тарантино', 'Ларс фон Триер',
                    'Дэвид Линч', 'Брайан Де Пальма', 'Роман Полански', 'Милош Форман', 'Вуди Аллен'
                    ])[0] for i in range(30)]
year_of_issue = [ri(1980, 2023) for i in range(30)]
length_in_minutes = [ri(30, 180) for i in range(30)]
rate = [ri(0,100) for i in range(30)]
df = DF({"movies_type":movies_type, "director":director, "year_of_issue":year_of_issue,
         "length_in_minutes":length_in_minutes, "rate":rate})
df

   movies_type           director  year_of_issue  length_in_minutes  rate
0      Триллер     Ларс фон Триер           1997                164    81
1       Боевик   Федерико Феллини           1981                110    39
2        Ужасы  Квентин Тарантино           2000                 55    54
3       Боевик     Альфред Хичкок           2018                131     0
4    Мелодрама  Андрей Тарковский           2017                176    92
5      Триллер     Ингмар Бергман           1992                 40    32
6      Триллер        Орсон Уэллс           1980                 67    29
7        Ужасы       Милош Форман           2008                 79    52
8      Комедия        Орсон Уэллс           1984                155     9
9      Комедия  Андрей Тарковский           1992                156    58
10     Триллер       Милош Форман           2001                108    78
11     Триллер         Дэвид Линч           1986                 58    44
12     Комедия     Альфред Хичкок           1983                170    72
13      Боевик     Альфред Хичкок           2000                 40    29
14      Боевик  Квентин Тарантино           1996                169    74
15   Мелодрама     Ингмар Бергман           1995                127    64
16      Боевик       Милош Форман           1995                 31    90
17     Триллер     Роман Полански           1980                148    64
18     Комедия     Ингмар Бергман           1998                103    23
19     Триллер         Вуди Аллен           1989                101    21
20     Комедия         Дэвид Линч           2011                115    61
21   Мелодрама  Сергей Эйзенштейн           2019                142    97
22   Мелодрама  Андрей Тарковский           2001                 33    47
23      Боевик       Милош Форман           1992                108    40
24     Комедия       Милош Форман           2019                141    23
25     Триллер     Ингмар Бергман           2020                176    10
26       Ужасы  Андрей Тарковский           2010                102    70
27      Боевик  Сергей Эйзенштейн           1988                 91    60
28     Триллер  Квентин Тарантино           1994                 53    54
29     Комедия       Милош Форман           1994                 37    63

In [153]:
# Создадим таблицу в нашей базе данных "etl" использую сгенерированный dataframe:

# engine = create_engine('postgresql://postgres:6161@localhost:5432/etl')
# df.to_sql('movies', con=engine, index=False, if_exists='replace')
# # Закрываем соединение
# engine.dispose()

In [154]:
movies_type = ch(("Ужасы", "Комедия", "Триллер", "Мелодрама", "Боевик"))[0]
director = ch(['Альфред Хичкок', 'Сергей Эйзенштейн', "Орсон Уэллс", "Федерико Феллини",
                   'Ингмар Бергман', 'Андрей Тарковский', 'Квентин Тарантино', 'Ларс фон Триер',
                    'Дэвид Линч', 'Брайан Де Пальма', 'Роман Полански', 'Милош Форман', 'Вуди Аллен'
                    ])[0]
year_of_issue = ri(1980, 2023)
length_in_minutes = ri(30, 180)
rate = ri(0,100)

In [155]:
conn = psycopg2.connect('postgresql://postgres:6161@localhost:5432/etl')
cursor = conn.cursor()
sql = "DROP TABLE IF EXISTS movies_1 CASCADE;\
    DROP TABLE IF EXISTS movies_2 CASCADE;\
    DROP TABLE IF EXISTS movies_3 CASCADE;\
    DROP TABLE IF EXISTS movies_4 CASCADE;\
    DROP TABLE IF EXISTS movies_5 CASCADE;\
    DROP TABLE IF EXISTS movies CASCADE;\
    CREATE TABLE IF NOT EXISTS movies (\
    movie_type VARCHAR(255),\
    director VARCHAR(255),\
    year_of_issue INTEGER,\
    length_in_minutes INTEGER,\
    rate DECIMAL(5,2));"
try:
    cursor.execute(sql)
finally:
    if conn:
        conn.commit()
        cursor.close()
        conn.close()

In [161]:
conn = psycopg2.connect('postgresql://postgres:6161@localhost:5432/etl')
cursor = conn.cursor()

sql = """CREATE TABLE movies_1 
INHERITS (public.movies)
CHECK (year_of_issue <= 1990);

CREATE TABLE movies_2 INHERITS (public.movies)
CHECK (year_of_issue > 1990 AND year_of_issue <= 2000);

CREATE TABLE movies_3 INHERITS (public.movies)
CHECK (year_of_issue > 2000 AND year_of_issue <= 2010);

CREATE TABLE movies_4 INHERITS (public.movies)
CHECK (year_of_issue > 2010 AND year_of_issue <= 2020);

CREATE TABLE movies_5  INHERITS (public.movies)
CHECK (year_of_issue > 2020);

"""

try:
    cursor.execute(sql)
finally:
    if conn:
        conn.commit()
        cursor.close()
        conn.close()

SyntaxError: ОШИБКА:  ошибка синтаксиса (примерное положение: "INHERITS")
LINE 1: CREATE TABLE movies_1 INHERITS (public.movies)
                              ^

In [157]:
conn = psycopg2.connect('postgresql://postgres:6161@localhost:5432/etl')
cursor = conn.cursor()

sql = """CREATE OR REPLACE RULE Separation_by_condition AS ON INSERT TO movies
WHERE (year_of_issue <= 1990)
DO INSTEAD INSERT INTO movies_1 VALUES(NEW.*);

CREATE OR REPLACE RULE Separation_by_condition AS ON INSERT TO movies
WHERE (year_of_issue >1990 and year_of_issue <= 2000)
DO INSTEAD INSERT INTO movies_2 VALUES(NEW.*);

CREATE OR REPLACE RULE Separation_by_condition AS ON INSERT TO movies
WHERE (year_of_issue >2000 and year_of_issue <= 2010)
DO INSTEAD INSERT INTO movies_3 VALUES(NEW.*);

CREATE OR REPLACE RULE Separation_by_condition AS ON INSERT TO movies
WHERE (year_of_issue >2010 and year_of_issue <= 2020)
DO INSTEAD INSERT INTO movies_4 VALUES(NEW.*);

CREATE OR REPLACE RULE Separation_by_condition AS ON INSERT TO movies
WHERE (year_of_issue >2020)
DO INSTEAD INSERT INTO movies_5 VALUES(NEW.*);
"""

try:
    cursor.execute(sql)
finally:
    if conn:
        conn.commit()
        cursor.close()
        conn.close()

In [159]:
for i in range(30):
    conn = psycopg2.connect('postgresql://postgres:6161@localhost:5432/etl')
    cursor = conn.cursor()
    mov_type = ch(("Ужасы", "Комедия", "Триллер", "Мелодрама", "Боевик"))[0]
    direct = ch(['Альфред Хичкок', 'Сергей Эйзенштейн', "Орсон Уэллс", "Федерико Феллини",
                   'Ингмар Бергман', 'Андрей Тарковский', 'Квентин Тарантино', 'Ларс фон Триер',
                    'Дэвид Линч', 'Брайан Де Пальма', 'Роман Полански', 'Милош Форман', 'Вуди Аллен'
                    ])[0]
    year_of_iss = ri(1980, 2023)
    len_in_minutes = ri(30, 180)
    r = ri(0,100)
    sql = f"INSERT INTO movies (movie_type, director, year_of_issue, length_in_minutes, rate) VALUES \
    ('{mov_type}', '{direct}', {year_of_iss}, {len_in_minutes}, {r})"
    try:
        cursor.execute(sql)
    finally:
        if conn:
            conn.commit()
            cursor.close()
            conn.close()

2. Сделайте таблицы для горизонтального партицирования по году выпуска (до 1990, 1990 -2000, 2000- 2010, 2010-2020, после 2020).

3. Сделайте таблицы для горизонтального партицирования по длине фильма (до 40 минута, от 40 до 90 минут, от 90 до 130 минут, более 130 минут).

4. Сделайте таблицы для горизонтального партицирования по рейтингу фильма (ниже 5, от 5 до 8, от 8до 10).

5. Создайте правила добавления данных для каждой таблицы.

6. Добавьте фильмы так, чтобы в каждой таблице было не менее 3 фильмов.

7. Добавьте пару фильмов с рейтингом выше 10.

8. Сделайте выбор из всех таблиц, в том числе из основной.

9. Сделайте выбор только из основной таблицы.